[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ {{ intellij_edition.title() }} Edition {{ intellij_version.split('-')[-1] }}
Icon={{ intellij_location}}/bin/idea.png
Exec="{{intellij_location }}/bin/idea.sh" %f
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-intellij-ce
